<ion-header>
	<ion-toolbar color="primary">
		<ion-back-button slot="start"></ion-back-button>

		<ion-title>{{ "spentHours.title" | translate }}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="list-wrapper">
	<p class="header-description">{{ "spentHours.desc" | translate }}</p>

	<h3 *ngIf="!hours.length" [innerHTML]="sanitizeString('spentHours.noItems' | translate)"></h3>

	<div class="item" *ngFor="let item of hours | async">
		<span
			[innerHTML]="sanitizeString('spentHours.usedHours' | translate | convertTime: { destType: 'hours', payload: item.hours, replace: 'hours'})"></span>

		<span
			[innerHTML]="sanitizeString('spentHours.hadHours' | translate | convertTime: { destType: 'hours', payload: item.prevHours, replace: 'hours'})"></span>

		<span
			[innerHTML]="sanitizeString('spentHours.nowHave' | translate | convertTime: { destType: 'hours', payload: item.afterHours, replace: 'hours'})"></span>

		<span class="date">
			{{ "listItem.listDay" | translate | convertTime: { destType: "day", payload: item.day, replace: "day", format: dateFormat } }}
		</span>
	</div>
</ion-content>
