app-loader {
	position: relative;

	img {
		position: absolute;
	}

	.top {
		animation-name: loaderCrossFade;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: .5s;
		animation-direction: alternate;
	}

}

@keyframes loaderCrossFade {
	0% {
		opacity: 1;
	}

	25% {
		opacity: 1;
	}

	75% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
