<ion-toolbar color="primary">
	<div [ngClass]="{'visible': isTutVisible}" class="backdrop"></div>

	<ion-buttons slot="start">
		<ion-button *ngIf="!hideBackBtn" (click)="goBack()">
			<ion-icon name="arrow-back"></ion-icon>
		</ion-button>
	</ion-buttons>

	<ion-title>{{ title }}</ion-title>

	<ion-buttons slot="end">
		<ion-button (click)="onBtnPress()" *ngIf="showClockBtn"
			[ngClass]="{'tut-item': isTutVisible, 'tut-active-item': tutStage === 'clockBtn'}">
			<ion-icon [name]="activeClock ? 'log-out' : 'log-in'" size="large"></ion-icon>
		</ion-button>

		<ion-button (click)="toggleMenu()"
			[ngClass]="{'tut-item': isTutVisible, 'tut-active-item': tutStage === 'settingsBtn'}">
			<ion-icon name="ios-more" size="large"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
