<ion-toolbar color="primary">
	<div [ngClass]="{'visible': isTutVisible}" class="backdrop"></div>

	<ion-back-button slot="start"></ion-back-button>

	<ion-title>{{ title }}</ion-title>

	<ion-buttons slot="end">
		<ion-button (click)="onBtnPress()"
			[ngClass]="{'tut-item': isTutVisible, 'tut-active-item': tutStage === 'clockBtn'}">
			<ion-icon [name]="activeClock ? 'log-out' : 'log-in'" size="large"></ion-icon>
		</ion-button>

		<ion-button [routerLink]="['/hours-spent']" routerDirection="forward"
			[ngClass]="{'tut-item': isTutVisible, 'tut-active-item': tutStage === 'hoursBtn'}">
			<ion-icon name="md-time" size="large"></ion-icon>
		</ion-button>

		<ion-button [routerLink]="['/settings']" routerDirection="forward"
			[ngClass]="{'tut-item': isTutVisible, 'tut-active-item': tutStage === 'settingsBtn'}">
			<ion-icon class="menu-button" name="ios-more" size="large"></ion-icon>
		</ion-button>
	</ion-buttons>
</ion-toolbar>
