<ion-content>
	<app-reset-modal class="modal" (onCancel)="toggleModal();" (onSubmit)="resetSettings();"
		[ngClass]="{'is-visible': isModalVisible}"></app-reset-modal>

	<!-- app settings -->
	<h3 class="list-header">{{ "settings.appSettings" | translate }}</h3>

	<div class="list-item">
		<ion-label>{{ "settings.dateFormat" | translate }}</ion-label>
		<ion-select [value]="selectedDateFormat.key" interface="action-sheet" [selectedText]="selectedDateFormat.label"
			(ionChange)="onDateFormatChange($event.target.value)">
			<ion-select-option *ngFor="let format of dateFormats" [value]="format.key">
				{{ format.label }}
			</ion-select-option>
		</ion-select>
	</div>

	<div class="list-item">
		<ion-label>{{ "settings.language" | translate }}</ion-label>
		<ion-select [value]="selectedLanguage.key" interface="action-sheet" [selectedText]="selectedLanguage.label"
			(ionChange)="onLangChange($event.target.value)">
			<ion-select-option *ngFor="let lang of langs" [value]="lang.key">
				{{ lang.label }}
			</ion-select-option>
		</ion-select>
	</div>

	<div class="list-item">
		<ion-label>{{ "settings.lunchDuration" | translate }}</ion-label>
		<ion-select [value]="selectedLunchDuration" interface="action-sheet"
			selectedText="{{ 'misc.minutes' | translate: { time: selectedLunchDuration } }}"
			(ionChange)="onLunchChange($event.target.value)">
			<ion-select-option *ngFor="let duration of lunchDuration" [value]="duration">
				{{ "misc.minutes" | translate: { time: duration } }}
			</ion-select-option>
		</ion-select>
	</div>

	<div class="list-item">
		<ion-label>{{ "settings.workDuration" | translate }}</ion-label>
		<ion-select [value]="selectedWorkDuration" interface="action-sheet"
			selectedText="{{ 'misc.hours' | translate: { time: selectedWorkDuration } }}"
			(ionChange)="onWorkChange($event.target.value)">
			<ion-select-option *ngFor="let duration of workDuration" [value]="duration">
				{{ "misc.hours" | translate: { time: duration } }}
			</ion-select-option>
		</ion-select>
	</div>

	<!-- notifications -->
	<h3 class="list-header">{{ "settings.notifs" | translate }}</h3>

	<div class="list-item colapsable">
		<div class="colapsable-item">
			<ion-label>{{ "settings.clockinNotif" | translate }}</ion-label>
			<ion-toggle (click)="toggleInNotif();" [value]="clockinNotif.enabled"></ion-toggle>
		</div>

		<div class="colapsable-item" [ngClass]="{ 'visible': clockinNotif.enabled }">
			<ion-label>{{ "settings.remindAt" | translate }}</ion-label>
			<ion-datetime displayFormat="HH:mm" [value]="clockinNotif.time"
				(ionChange)="onInNotifTimerChange($event.target.value)" [cancelText]="'settings.cancelText' | translate"
				[doneText]="'settings.confirmText' | translate">
			</ion-datetime>
		</div>
	</div>

	<div class="list-item colapsable">
		<div class="colapsable-item">
			<ion-label>{{ "settings.clockoutNotif" | translate }}</ion-label>
			<ion-toggle (click)="toggleOutNotif($event);" [value]="clockoutNotif.enabled"></ion-toggle>
		</div>

		<div class="colapsable-item" [ngClass]="{ 'visible': clockoutNotif.enabled }">
			<ion-label>{{ "settings.remindAt" | translate }}</ion-label>
			<ion-datetime displayFormat="HH:mm" [value]="clockoutNotif.time"
				(ionChange)="onOutNotifTimerChange($event.target.value)"
				[cancelText]="'settings.cancelText' | translate" [doneText]="'settings.confirmText' | translate">
			</ion-datetime>
		</div>
	</div>


	<!-- about -->
	<h3 class="list-header">{{ "settings.about" | translate }}</h3>

	<div class="list-item expand" *ngFor="let item of legalities" (click)="openLink(item.link)"
		[ngClass]="{'clickable': item.link}">
		<ion-label>{{ item.labelId | translate }}</ion-label>
		<ion-icon *ngIf="item.link" name="arrow-forward" mode="ios"></ion-icon>
		<ion-label *ngIf="item.version">{{ item.version }}</ion-label>
	</div>
</ion-content>
