<ion-header>
	<ion-toolbar color="primary">
		<ion-back-button slot="start"></ion-back-button>

		<ion-title>Work clocker</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h3 class="list-header">{{ "settings.appSettings" | translate }}</h3>

	<div class="list-item">
		<ion-label>{{ "settings.dateFormat" | translate }}</ion-label>
		<ion-select [value]="selectedDateFormat.key" interface="action-sheet" [selectedText]="selectedDateFormat.label"
			(ionChange)="onDateFormatChange($event.target.value)">
			<ion-select-option *ngFor="let format of dateFormats" [value]="format.key">
				{{ format.label }}
			</ion-select-option>
		</ion-select>
	</div>

	<div class="list-item">
		<ion-label>{{ "settings.language" | translate }}</ion-label>
		<ion-select [value]="selectedLanguage.key" interface="action-sheet" [selectedText]="selectedLanguage.label"
			(ionChange)="onLangChange($event.target.value)">
			<ion-select-option *ngFor="let lang of langs" [value]="lang.key">
				{{ lang.label }}
			</ion-select-option>
		</ion-select>
	</div>

	<div class="list-item">
		<ion-label>{{ "settings.lunchDuration" | translate }}</ion-label>
		<ion-select [value]="selectedLunchDuration" interface="action-sheet"
			selectedText="{{ 'misc.minutes' | translate: { time: selectedLunchDuration } }}"
			(ionChange)="onLunchChange($event.target.value)">
			<ion-select-option *ngFor="let duration of lunchDuration" [value]="duration">
				{{ "misc.minutes" | translate: { time: duration } }}
			</ion-select-option>
		</ion-select>
	</div>

	<div class="list-item">
		<ion-label>{{ "settings.workDuration" | translate }}</ion-label>
		<ion-select [value]="selectedWorkDuration" interface="action-sheet"
			selectedText="{{ 'misc.hours' | translate: { time: selectedWorkDuration } }}"
			(ionChange)="onWorkChange($event.target.value)">
			<ion-select-option *ngFor="let duration of workDuration" [value]="duration">
				{{ "misc.hours" | translate: { time: duration } }}
			</ion-select-option>
		</ion-select>
	</div>

	<h3 class="list-header">{{ "settings.about" | translate }}</h3>

</ion-content>
