@import "./src/theme/variables.scss";

app-settings {
	h3 {
		background: #EAEAEA;
		margin: 0;
		padding: 1.5vh 1vh;
		color: $lighterTextColor;
		font-size: 1.7vh;
	}

	.list-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
		border-bottom: 1px solid #ccc;
		margin: 0 2vh;
		font-size: 2vh;
		padding: .5vh;

		&.expand {
			padding-top: 2vh;
			padding-bottom: 2vh;

			ion-icon {
				font-size: 24px;
				color: $lightTextColor;
			}
		}

		&.clickable {
			transition: .2s;

			&:active,
			&:focus,
			&:hover {
				background: #f1f1f1;
				margin: 0;
				padding: 2vh;
				transition: .2s;
			}
		}

		&.colapsable {
			flex-direction: column;

			.colapsable-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: row;
				width: 100%;

				&:nth-child(2) {
					margin-top: 1vh;
					height: 0;
					padding-right: 1vh;
					overflow: hidden;
					transition: .2s;
				}

				&.visible {
					height: 40px;
					transition: .2s;
				}
			}
		}


	}
}

.action-sheet-group:last-child {
	display: none !important;
}
