@import "./src/theme/variables.scss";

.hours-worked {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #000;
	z-index: 1;
	position: relative;

	&.tut-visible {
		background-color: rgba(0, 0, 0, 0.5);

		span {
			opacity: .5;
			color: #fff;
		}

		.tut-active-item {
			color: #f8f8f8;
			opacity: 1;
			padding: .5vh;
		}
	}

	span {
		color: $lightTextColor;
	}
}
