<div class="bg"></div>
<div class="wrapper">
	<ng-container *ngIf="!!currHour; else elseTemplate">
		<h2 [innerHTML]="'home.startAt' | translate | formatTime: currHour.startHour | sanitize">
		</h2>

		<div class="button" (click)="clockOut()">
			<h3>{{ "home.clockout" | translate }}</h3>

			<p>{{ timer }}</p>
		</div>

		<div class="clockout-wrapper">
			<h2 (click)="triggerLunchClick()"
				[innerHTML]="'home.lunchDuration' | translate | convertTime: { destType: 'hours', payload: currHour.lunchDuration } | sanitize">
			</h2>

			<h2
				[innerHTML]="'home.exitETA' | translate | calcClockout: { clockIn: currHour.day, format: dateFormat, lunchTime: currHour.lunchDuration, workDuration: workDuration }">
			</h2>
		</div>
	</ng-container>

	<ng-template #elseTemplate>
		<div class="button" (click)="clockIn()"
			[ngClass]="{'tut-item': isTutActive && !isCurrTutStage, 'tut-visible': isCurrTutStage}">
			<h3>{{ "home.clockin" | translate }}</h3>
		</div>
	</ng-template>
</div>
