<div class="wrapper" [ngClass]="{'visible': isVisible}">
	<div class="card">
		<h2>{{ "modal.updateLunchTime" | translate }}</h2>

		<div class="body">
			<ion-label>{{ "settings.lunchDuration" | translate }}</ion-label>
			<ion-select [value]="currentDuration" interface="action-sheet"
				selectedText="{{ 'misc.minutes' | translate: { time: currentDuration } }}"
				(ionChange)="onLunchChange($event.target.value)">
				<ion-select-option *ngFor="let duration of lunchDuration" [value]="duration">
					{{ "misc.minutes" | translate: { time: duration } }}
				</ion-select-option>
			</ion-select>
		</div>

		<div class="button-wrapper">
			<ion-button rounded (click)="triggerSubmit();">{{ "modal.submit" | translate }}</ion-button>
			<ion-button color="light" rounded (click)="onCancel();">{{ "modal.cancel" | translate }}</ion-button>
		</div>
	</div>
</div>
