<div class="list" [ngClass]="{'tut-visible': isTutVisible}">
	<ng-container *ngIf="isTutVisible; else elseTemplate">
		<app-list-item [ngClass]="{'active-tut-item': tutStage === 'content'}" class="list-wrapper" [item]="tutItem"
			[dateFormat]="'dd/mm/yyyy'" [lunchDuration]="'60'" [workDuration]="'8'"></app-list-item>
	</ng-container>

	<ng-template #elseTemplate>
		<h3 *ngIf="!clockedHours.length || (clockedHours.length === 1 && clockedHours[0].isActive)"
			[innerHTML]="'listItem.noItems' | translate | sanitize">
		</h3>

		<ion-list>
			<ng-container *ngFor="let item of clockedHours; let i = index">
				<app-list-item class="list-wrapper" [item]="item" *ngIf="!item.isActive" [dateFormat]="dateFormat"
					[lunchDuration]="lunchDuration" [workDuration]="workDuration"
					(onClick)="toggleLunchUpdate($event);">
				</app-list-item>
			</ng-container>
		</ion-list>
	</ng-template>
</div>
