<div class="tut-backdrop" *ngIf="position === 'on-intro'"></div>

<div class="container visible" [ngClass]="{ 
		'on-intro': position === 'on-intro',
		'on-button': position === 'on-button',
		'on-hours': position === 'on-hours',
		'on-header': position === 'on-header',
		'on-clocked': position === 'on-clocked',
		'on-spent': position === 'on-spent',
		'on-settings': position === 'on-settings'
	}">
	<div class="flex-wrapper header">
		<h3>{{ title | translate }}</h3>
		<button *ngIf=" !isLastStage" (click)="onSkip()">{{ "tutorial.skip" | translate }}</button>

	</div>

	<div [innerHTML]="tutText | translate | sanitize"></div>

	<hr />

	<div class="flex-wrapper">
		<button [ngClass]="{ 'hidden': isFirstStage }" (click)="onPrev()">{{ "tutorial.previous" | translate }}</button>
		<button *ngIf="!isLastStage" (click)="onNext()">{{ "tutorial.next" | translate }}</button>

		<button *ngIf="isLastStage" (click)="onFinish()">{{ "tutorial.finish" | translate }}</button>
	</div>
</div>
