<div class="item">
	<div class="row">
		<ng-container *ngIf="!item.onGoing; else onGoingTemplate">
			<p>{{ "listItem.listDay" | translate | convertTime: { destType: "day", payload: item.day, replace: "day", format: dateFormat } }}
			</p>

			<p>{{ "listItem.hoursWorked" | translate | convertTime: { destType: "hours", payload: item.hoursWorked, replace: "time" } }}
			</p>
		</ng-container>
		<ng-template #onGoingTemplate>
			<p>{{ "listItem.today" | translate }}</p>
			<p>
				{{ "listItem.exitETA" | translate | calcClockout: { clockIn: item.day, format: dateFormat, duration: workDuration, lunchTime: lunchDuration } }}
			</p>
		</ng-template>
	</div>

	<div class="row">
		<span>{{ "listItem.startAt"  | translate | formatTime: { payload: item.startHour, replace: "start" } }}</span>
		<span>{{ "listItem.lunchDuration" | translate | convertTime: { destType: "hours", payload: item.lunchDuration, replace: "duration" } }}</span>
		<span *ngIf="!item.onGoing">{{ "listItem.endAt" | translate: { "end": item.endHour } }}</span>
	</div>
</div>
