@import "../../../theme/variables.scss";

app-list-item {
	&:nth-child(even) {
		.item {
			background: #b6dbb6;

			span,
			p {
				color: #000;
			}
		}
	}

	.item {
		padding: .5vh 1vh;
		height: 11vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: $secondaryColor;

		&:nth-child(even) {
			background-color: $whiteBgColor;
		}

		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				margin: 0;
				font-size: 2.3vh;
			}

			span {
				font-size: 1.7vh;
			}

			p,
			span {
				color: $darkTextColor;
			}
		}
	}
}
