<div class="item" (click)="triggerOnClick(item)">
	<div class="row">
		<p>
			{{ "listItem.listDay" | translate | convertTime: ["day", item.day, dateFormat] }}
		</p>

		<p>
			{{ "listItem.timeWorked" | translate | convertTime: ["hours", item.timeWorked] }}
		</p>
	</div>

	<div class="row">
		<span>
			{{ "listItem.startAt" | translate | formatTime: item.startHour }}
		</span>
		<span>
			{{ "listItem.lunchDuration" | translate | convertTime: ["hours", item.lunchDuration] }}
		</span>
		<span>
			{{ "listItem.endAt" | translate | convertTime: ["timestamp", item.endHour] }}
		</span>
	</div>
</div>
