@import "../../..//theme/variables.scss";

app-home {
	background-color: $whiteBgColor;

	ion-toolbar {
		color: $whiteTextColor !important;
		background-color: $primaryColor !important;

		ion-title {
			display: flex;
			align-items: center;
			flex-direction: row;
		}

		ion-button {
			.menu-button {
				transform: rotate(90deg);
			}
		}
	}

	h3 {
		font-size: 3vh;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -80%);
		position: absolute;
		display: block;
		color: $darkTextColor;
		left: 50%;
		width: 70%;
	}

	.list {
		&.tut-visible {
			position: relative;
			height: calc(100% - 51px);
			background-color: rgba(0, 0, 0, 0.5);

			.item {
				opacity: .5;
			}

			&.active-tut-item {
				.item {
					box-shadow: 0 0px 10px 10px #f8f8f8;
					opacity: 1;
				}
			}
		}
	}

	.backdrop {
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(0, 0, 0, .5);
		position: absolute;
		top: 0;
		left: 0;
		display: none;

		&.visible {
			display: block;
		}
	}

	.tut-item {
		opacity: .5 !important;
		pointer-events: none;
	}

	.tut-active-item {
		opacity: 1 !important;
		box-shadow: 0 0 5px 5px #f8f8f8;
		border-radius: 10px;
	}
}
