@import "../../..//theme/variables.scss";

app-home {
	background-color: $whiteBgColor;

	ion-toolbar {
		color: $whiteTextColor !important;
		background-color: $primaryColor !important;

		ion-title {
			display: flex;
			align-items: center;
			flex-direction: row;
		}

		ion-button {
			.menu-button {
				transform: rotate(90deg);
			}
		}
	}

	h3 {
		font-size: 3vh;
		text-align: center;
		top: 50%;
		transform: translate(-50%, -80%);
		position: absolute;
		display: block;
		color: $darkTextColor;
		left: 50%;
		width: 70%;
	}

	.hours-worked {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #000;
		z-index: 1;
		position: relative;

		&.tut-visible {
			background-color: rgba(0, 0, 0, 0.5);

			span {
				opacity: .5;
			}

			.tut-active-item {
				color: #f8f8f8;
				opacity: 1;
				padding: .5vh;
			}
		}

		span {
			color: $lightTextColor;
		}
	}

	.list {
		position: relative;

		&.tut-visible {
			height: calc(100% - 51px);
			background-color: rgba(0, 0, 0, 0.5);
		}

		.item {
			box-shadow: 0 0px 10px 10px #f8f8f8;
		}
	}
}
