<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			Work Clocker
		</ion-title>

		<ion-buttons slot="end">
			<ion-button [routerLink]="['/hours-spent']" routerDirection="forward">
				<ion-icon class="menu-button" name="md-time" size="large"></ion-icon>
			</ion-button>

			<ion-button [routerLink]="['/settings']" routerDirection="forward">
				<ion-icon class="menu-button" name="ios-more" size="large"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div>
		<div class="hours-worked ion-padding">
			<span>{{ "home.hoursOwed" | translate: { 'hours': totalHours }  }}</span>
			<span>{{ "home.extraHours" | translate: { 'hours': extraHours }  }}</span>
		</div>

		<div class="list">
			<h3 *ngIf="!isLoading && !clockedHours.length"
				[innerHTML]="sanitizeString('dayListing.noItems' | translate)"></h3>

			<app-list-item *ngFor="let item of clockedHours" [item]="item" [dateFormat]="dateFormat"
				[lunchDuration]="lunchDuration" [workDuration]="workDuration"></app-list-item>
		</div>

		<app-list-button (onClick)="onBtnPress();"></app-list-button>
	</div>
</ion-content>
