<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			Work Clocker
		</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="onBtnPress()">
				<ion-icon [name]="activeClock ? 'log-out' : 'log-in'" size="large"></ion-icon>
			</ion-button>

			<ion-button [routerLink]="['/hours-spent']" routerDirection="forward">
				<ion-icon name="md-time" size="large"></ion-icon>
			</ion-button>

			<ion-button [routerLink]="['/settings']" routerDirection="forward">
				<ion-icon class="menu-button" name="ios-more" size="large"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div>
		<app-update-lunch-modal class="modal" (onCancel)="toggleLunchUpdate();" (onSubmit)="updateLunchTime($event);"
			[currDuration]="lunchDuration" [ngClass]="{'is-visible': isModalVisible}" [index]="selectedItemIndex">
		</app-update-lunch-modal>

		<div class="hours-worked ion-padding">
			<span>{{ "home.owedHours" | translate | convertTime: { destType: "hours", payload: owedHours, replace: "hours" } }}</span>
			<span>{{ "home.extraHours" | translate | convertTime: { destType: "hours", payload: extraHours, replace: "hours" } }}</span>
		</div>

		<div class="list">
			<h3 *ngIf="!clockedHours.length" [innerHTML]="sanitizeString('listItem.noItems' | translate)">
			</h3>

			<app-list-item *ngFor="let item of clockedHours; let i = index" [item]="item" [dateFormat]="dateFormat"
				[lunchDuration]="lunchDuration" [workDuration]="workDuration" (onClick)="toggleLunchUpdate(i);">
			</app-list-item>
		</div>
	</div>
</ion-content>
