<div class="item" (click)="triggerOnClick()">
	<div class="row">
		<p>
			{{ "listItem.listDay" | translate | convertTime: { destType: "day", payload: item.day, format: dateFormat } }}
		</p>

		<p>
			{{ "listItem.timeWorked" | translate | convertTime: { destType: "hours", payload: item.timeWorked } }}
		</p>
	</div>

	<div class="row">
		<span>
			{{ "listItem.startAt" | translate | formatTime: item.startHour }}
		</span>
		<span>
			{{ "listItem.lunchDuration" | translate | convertTime: { destType: "hours", payload: item.lunchDuration } }}
		</span>
		<span>
			{{ "listItem.endAt" | translate | convertTime: { destType: "timestamp", payload: item.endHour } }}
		</span>
	</div>
</div>
