<div class="wrapper">
	<div class="card">
		<div class="body">
			<p [innerHTML]="'feedback.desc' | translate | sanitize"></p>

			<ion-select interface="popover" [(ngModel)]="topic">
				<ion-select-option *ngFor="let item of topics" [value]="item">
					{{ item.label | translate }}
				</ion-select-option>
			</ion-select>
		</div>

		<div class="button-wrapper">
			<ion-button color="light" rounded (click)="triggerCancel();">{{ "modal.cancel" | translate }}</ion-button>
			<ion-button rounded (click)="openEmail()">{{ "feedback.send" | translate }}</ion-button>
		</div>
	</div>
</div>
