// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "./theme/variables.scss";

ion-toolbar {
	color: $whiteTextColor !important;
	background-color: $primaryColor !important;

	ion-title {
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	ion-button {
		.rotated {
			transform: rotate(90deg);
		}
	}
}

.modal {
	position: absolute;
	z-index: 999;
	height: 103%;
	width: 100%;
	top: -2.3vh;
	transform: translateY(-100%);
	transition: .25s;

	&.is-visible {
		transform: translateY(0);
		transition: .25s;
	}

	.wrapper {
		background: rgba(0, 0, 0, .5);
		height: 100%;
		width: 100%;

		.card {
			border-radius: 2vh;
			background: #f7f7f7;
			width: 90%;
			margin: auto;
			top: 15%;
			position: relative;
		}

		h2 {
			padding: 2vh;
			margin: 0;
			font-size: 2.6vh;
			border-bottom: 1px solid #aaa;
		}

		.body {
			padding: 2vh;

			ion-label {
				font-size: 2.5vh;
			}

			ion-select {
				padding-left: 0;
			}
		}

		.button-wrapper {
			display: flex;
			padding: 2vh;
			padding-top: 0;
			justify-content: space-around;
			align-items: center;

			ion-button {
				--background: $primaryColor;
				background: $primaryColor;
				color: $whiteTextColor;
			}
		}
	}
}
