// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "./theme/variables.scss";

span,
p {
	font-size: 2vh;
}

.modal {
	position: absolute;
	z-index: 999;
	height: 103%;
	width: 100%;
	top: -2.3vh;
	transform: translateY(-100%);
	transition: .25s;

	&.is-visible {
		transform: translateY(0);
		transition: .25s;
	}

	.wrapper {
		background: rgba(0, 0, 0, .5);
		height: 100%;
		width: 100%;

		.card {
			border-radius: 2vh;
			background: #f7f7f7;
			width: 90%;
			margin: auto;
			top: 15%;
			position: relative;
		}

		h2 {
			padding: 2vh;
			margin: 0;
			font-size: 3.6vh;
			border-bottom: 1px solid #aaa;
			color: $darkTextColor;
		}

		.body {
			padding: 2vh;

			ion-label,
			p {
				font-size: 3vh;
			}

			p {
				text-align: center;
			}

			ion-select {
				padding-left: 0;
			}
		}

		.button-wrapper {
			display: flex;
			padding: 2vh;
			padding-top: 0;
			justify-content: space-around;
			align-items: center;

			&.three-buttons {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

				ion-button {
					width: 100%;
					margin: 2vh 0;
				}
			}

			ion-button {
				background-color: $primaryColor;
				color: $whiteTextColor;
				font-size: 2vh;
				border-radius: 1vh;
				overflow: hidden;
				border: 1px solid #49AC4D;

				button {
					background-color: transparent;
				}
			}
		}
	}
}

.list-wrapper {
	&:nth-child(even) {
		.item {
			background: #b6dbb6;

			span,
			p {
				color: #000;
			}
		}
	}

	.item {
		padding: .5vh 1vh;
		height: 11vh;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: $secondaryColor;
		border-bottom: .1vh solid #000;

		&:nth-child(even) {
			background-color: $whiteBgColor;
		}

		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				margin: 0;
				font-size: 2.3vh;
			}

			span {
				font-size: 1.7vh;
			}

			p,
			span {
				color: $darkTextColor;
			}
		}
	}
}

.main-wrapper {

	ion-router-outlet,
	ion-header {
		transition: .25s ease-out;
	}

	.menu-backdrop {
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, .3);
		position: absolute;
		top: 0;
		left: 100%;
		animation: .2s hideBackdrop;
		opacity: 0;
		z-index: 99;
	}

	&.opened {
		.menu-backdrop {
			animation: .2s showBackdrop;
			opacity: 1;
			left: 0;
		}

		app-menu {
			transform: translateX(0);
			transition: .2s ease-in-out;
		}

		ion-router-outlet,
		ion-header {
			transform: translateX(-70vw);
			transition: .2s ease-in-out;
		}
	}
}

.backdrop {
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;

	&.visible {
		display: block;

		&.on-hours {
			top: 50px;
			height: calc(100% - 50px);
		}
	}
}

.action-sheet-group:last-child {
	display: none !important;
}

@keyframes showBackdrop {
	0% {
		opacity: 0;
	}

	30% {
		opacity: .5;
	}

	100% {
		opacity: 1;
	}
}

@keyframes hideBackdrop {
	0% {
		opacity: 1;
		left: 0;
	}

	10% {
		left: 0
	}

	20% {
		left: 0
	}

	30% {
		opacity: .5;
		left: 0;
	}

	40% {
		left: 0
	}

	50% {
		left: 0
	}

	60% {
		left: 0
	}

	70% {
		left: 0
	}

	80% {
		left: 0
	}

	90% {
		left: 0
	}

	100% {
		opacity: 0;
		left: 100%;
	}
}
